<% provide(:title, 'Help') %>
      <h1>Help</h1>
      <p>
        This Application was made by tutorials
        <a href="http://railstutorial.ru/">Ruby on Rails Tutorial Michael Hartl</a>.
        </br>
        Приложение сделано по книге
        <a href="http://railstutorial.ru/">Изучение Rails на Примерах Майкл Хартл</a>.
      </p>